<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top navheight">
  <div class="container-fluid d-flex justify-content-between align-items-end">
    <!--Horizontal Spacer for centering-->
    <div id="nav-spacer"></div>
      <!--How it works-->
    <div id="how-it-works-width" class="d-flex justify-content-center align-items-center">
      <%= link_to "#how-it-works", class: "nav-link text-dark navbar-link fs-3", style: "visibility: hidden" do %>
        How it works
      <% end %>
    <!--Geobites-->
      <%= link_to root_path, class: "navbar-brand mx-auto text-decoration-none text-dark " do %>
        <div class="d-flex align-items-center">
          <div class="me-2">
            <%= image_tag "logo.svg", alt: "Logo", class: "navbar-logo" %>
          </div>
          <div class="navbar-brand-text navbar-geobites">GeoBites</div>
        </div>
      <% end %>
    <!--Bookmarks-->
      <%= link_to  bookmarks_path, class: "nav-link text-dark navbar-link fs-3", style: "visibility: hidden" do %>
            Bookmarks
        </div>
      <% end %>
    </div>

    <!--User Login-->
    <ul class="navbar-nav" style="width: 208px;">
      <li>
        <% if user_signed_in? %>
            <%= link_to image_tag("user-icon.svg", id: "user-icon", alt: "profile"), destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item"%>
        <% else %>
            <%= link_to image_tag("user-icon.svg", id: "user-icon", alt: "login"), new_user_session_path, class: "dropdown-item"%>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<!-- Div used as a spacer to prevent content going under the navbar -->
<div style="height: 120px;"></div>

<div class="d-flex justify-content-center bookmark-div mt-5 mb-2">
  <div class="bookmark-div my-5"><h1>Bookmarks</h1></div>
</div>

<!-- Iteration code structure gotten from my old movie list project which is public on github -->
<div class="d-flex gap-4 flex-wrap justify-content-center px-4">
  <% @bookmarks.each do |bookmark| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-2">
          <h5 class="card-title"><%= bookmark.output.city %>,<%= bookmark.output.country %></h5>
          <button class="btn-close delete-bookmark" data-bookmark-id="<%= bookmark.id %>"></button>
        </div>
        <p class="card-text"><%= bookmark.output.text %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- Styling spacer -->
<div style="height: 120px;"></div>
