<!-- Navbar -->
<!-- I had a partial for it at first but want to remove "How it works" when on the bookmarks homepage, that's why I have a navbar directly on the index page -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top navheight">
  <div class="container-fluid d-flex justify-content-between align-items-end">
    <!--Horizontal Spacer for centering-->
    <div id="nav-spacer"></div>
      <!--How it works-->
    <div id="how-it-works-width" class="d-flex justify-content-center align-items-center">
      <%= link_to "#how-it-works", class: "nav-link text-dark navbar-link fs-3" do %>
        How it works
      <% end %>
    <!--Geobites-->
      <%= link_to root_path, class: "navbar-brand mx-auto text-decoration-none text-dark " do %>
        <div class="d-flex align-items-center">
          <div class="me-2">
            <%= image_tag "logo.svg", alt: "Logo", class: "navbar-logo" %>
          </div>
          <div class="navbar-brand-text navbar-geobites">GeoBites</div>
        </div>
      <% end %>
    <!--Bookmarks-->
      <%= link_to  bookmarks_path, class: "nav-link text-dark navbar-link fs-3" do %>
            Bookmarks
        </div>
      <% end %>
    </div>

    <!--User Login-->
    <ul class="navbar-nav" style="width: 208px;">
      <li>
        <% if user_signed_in? %>
            <%= link_to image_tag("user-icon.svg", id: "user-icon", alt: "profile"), destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item"%>
        <% else %>
            <%= link_to image_tag("user-icon.svg", id: "user-icon", alt: "login"), new_user_session_path, class: "dropdown-item"%>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<!-- Map section -->
<%= render "shared/show" %>
<!-- Output section -->
<div class="container output-background justify-content-center mb-75">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <div id="location" class="col location-text text-center my-21"></div>
      <!-- I might add a flag emoji in the future -->
      <!--<div id="country-emoji" class="col"></div>-->
    </div>
  </div>

  <div class="row mx-57">
    <%= render "shared/output" %>
  </div>
  <div class="row mx-57">
  <!-- I was going to add a learn more feature but since I'm only using the lowest tier OpenAi api I commented it out-->
<!-- <div class="col">
      <div><a href="https://github.com/MarlonSteiner" ><%=image_tag "url-icon.svg", class:"url-icon", alt:"learn more icon" %></a>Learn more</div>
  </div>-->
    <div class="col">
        <!-- Display none only works when I integrate it directly into the html. With the use of Javascript, we can make it only appear when there is an output-->
      <div class="col d-flex justify-content-end">
        <%= button_to bookmarks_path, id: "bookmark-link", style:"display: none; border: none;", data: { turbo_method: :post, turbo_frame: "_top"} do%>
          <%=image_tag "bookmark-icon-untoggled.svg", class:"url-icon", alt:"bookmark" %></a>
        <% end %>
      </div>
  </div>
  </div>
</div>
<!-- Image section -->
<div class="d-flex justify-content-center mb-94">
  <%= image_tag "travel_section.svg", id: "travel-section" %>
</div>
<!-- How it works section -->
<div class="text-center mb-76" id="how-it-works">
  <h2>How it works</h2>
</div>

<div class="d-flex justify-content-center mb-240">
  <%= image_tag "how-section.svg", id: "how-section" %>
</div>
