<!-- Map section -->
<%= render "shared/show" %>
<!-- Output section -->
<div class="container output-background justify-content-center mb-75">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <div id="location" class="col location-text text-center my-21"></div>
      <!-- I might add a flag emoji in the future -->
      <!--<div id="country-emoji" class="col"></div>-->
    </div>
  </div>

  <div class="row mx-57">
    <%= render "shared/output" %>
  </div>
  <div class="row mx-57">
  <!-- I was going to add a learn more feature but since I'm only using the lowest tier OpenAi api I commented it out-->
<!-- <div class="col">
      <div><a href="https://github.com/MarlonSteiner" ><%=image_tag "url-icon.svg", class:"url-icon", alt:"learn more icon" %></a>Learn more</div>
  </div>-->
    <div class="col">
        <!-- Display none only works when I integrate it directly into the html. With the use of Javascript, we can make it only appear when there is an output-->
      <div class="col d-flex justify-content-end"><a href="https://github.com/MarlonSteiner" id="bookmark-link" style="display: none;"><%=image_tag "bookmark-icon-untoggled.svg",class:"url-icon", alt:"learn more icon" %></a></div>
  </div>
  </div>
</div>
<!-- Image section -->
<div class="d-flex justify-content-center mb-94">
  <%= image_tag "travel_section.svg", id: "travel-section" %>
</div>
<!-- How it works section -->
<div class="text-center mb-76" id="how-it-works">
  <h2>How it works</h2>
</div>

<div class="d-flex justify-content-center mb-240">
  <%= image_tag "how-section.svg", id: "how-section" %>
</div>
